/* CSS for Lisa Bough's Portfolio Site, Udacity-Google Scholarship Project */
body {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  color: #000;
}

/* Header */
.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-logo, .header-text {
  width: 50%;

}

.logo {
   max-width: 130px;
   /*text-align: left;*/
   padding-top: 60px;
 }

.header-text {
  color: #777676;
  text-align: right;
  padding-top: 60px;
}

h1 {
  font-weight: 100;
  padding-bottom: 0px;
}
h3 {
  font-weight: 400;
  padding-top: 0px;
}

/* Main */
.images_600 {
  max-width: 100%;
  padding-bottom: 30px;
}

/* Footer */
.featured-work {
  text-align: left;
  margin-left: 20px;
}

.images_250 {
  display: flex;
  flex-wrap: wrap;
}
.img250 {
  padding-left: 3em;
  padding-right: 3em;
}
.responsive {
  width:100%;
  height:auto;
}
